nav{
    display: inline-block;
    padding: 20px;
    
}

#btnContainer {
  display: inline;
 
  
}

.container {
    height: 650px;
    width: 25%;
    float: right;
    background-color: white;
    display: none;
    overflow: scroll;
}

#map{
    height: 600px;
}

